extends /main.pug

mixin feature(header, description)
	.col.d-md-flex
		figure.card.bg-light.my-3.text-center.w-100
			figcaption.card-header.font-weight-bold= header
			.card-body.d-flex
				p.card-text.my-auto.mx-auto= description
	.w-100.d-md-none

mixin welcome(header, introduction, comeOnText, url, buttonLabel)
	.jumbotron
		h1.h1.text-truncate= header
		p.lead= introduction
		hr.my-4
		p= comeOnText
		a.btn.btn-success.btn-lg(href=url, role='button')= buttonLabel

block content
	section.welcome.mt-4
		.container-fuild
			if currentUser
				+welcome(
					'И снова здравствуйте!',
					'Пока вы отсутствовали могло произойти много всего интересного!',
					'Загляните в свой профиль, не затягивайте!',
					getNamedURL('userProfile', { id: currentUser.id }),
					'Мои настройки'
				)
			else
				+welcome(
					'Приветствуем!',
					'Рады представить вам сервис по управлению вашими задачами! Управление задачами - отличный способ получть полный контроль над своим временем!',
					'Начните прямо сейчас, не откладывайте на потом.',
					getNamedURL('newUser'),
					'Регистрация'
				)
	section.our-features.mt-2
		h2.text-center Наши преимущества
		.container
			.row
				+feature('Мы стараемся!', 'Да! Мы действиетльно не равнодушны и очень стараемся. Это чистая правда!')
				+feature('У нас есть печеньки!', 'И еще много-много всяких вкусностей!')
				+feature('Ну и конечно же - надежность!', 'Кроме всего прочего наша система еще и чрезвычайно надежна!')